<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Berlinerin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
     
        <li>
          <a class="nav-link"  href="/profile">Home</a>
        </li>
        <li>
          <a class="nav-link"  href="/doctors">Doctors</a>
        </li>
           <li>
          <a class="nav-link "  href="/associations">Associations</a>
        </li> 
         <li>
          <a class="nav-link active"  href="/forum">Forum</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<h1>Forum</h1>

<div class="con">

<div class="container text-center">
  <div class="container">
    <div class="row">
      <hr />
      {{#each forum}}
        <div class="col">
          <div class="profile-card-4 text-center">
              <img
              src="{{img}}"
              class="img img-responsive"/>
            <div class="profile-content">
              <div class="profile-name">{{name}}
                  {{#if iOffer}}
                  <p>I am offering</p>
                  {{/if}}
                                    {{#if iSearch}}
                  <p>I am looking for</p>
                  {{/if}}
                                    {{#if iNeedhelp}}
                  <p>I need help</p>
                  {{/if}}
              </div>
              <div class="profile-description">{{text}}</div>
              
              <div class="row">

                <div class="col-xs-4">
                  <div class="profile-overview">
                    <p>Language: {{language}}</p>
                </div>
                <div class="col-xs-4">
                  <div class="profile-overview">
                      <button class="btn btn-primary">Contact {{name}}</button>
                    </div>
                </div>
            </div>
          </div>

        </div>
     
    </div>
  </div> 
  {{/each}}
</div>
</div>
</div>
</div>

<form>
<ul class="form-style-1">
  <h3>Write a new post</h3>
    <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" /> <input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="field3" class="field-long" />
    </li>
    <li>
        <label>What is the purpose of your post?</label>
        <select name="field4" class="field-select">
        <option value="iOffer">I am offering</option>
        <option value="iSearch">I am looking for</option>
        <option value="iNeedhelp">I need help</option>
        </select>
    </li>
    <li>
        <label>Your Message <span class="required">*</span></label>
        <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>